# ── Gestion de Citas Medicas — Variables de entorno ──────────


# ── Base de datos MySQL ───────────────────────────────────────
MYSQL_ROOT_PASSWORD=123
DB_USER=admin7
DB_PASSWORD=123

# ── JWT (ms-auth) ─────────────────────────────────────────────
JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES=8h

# ── Puertos expuestos al host ─────────────────────────────────
PORT_FRONTEND=80
PORT_GATEWAY=8080
PORT_MYSQL=3307
